<h2>All Chefs</h2>


<% User.like_sort.each do |user| %> 
   <%= link_to user.name + ", " + user.all_likes.to_s, user %><br>
    <% end %> 


<h3>Top 3 Active Chefs</h3>

<% User.top_three_active.each do |user| %> 
   <%= link_to user.name, user %><br>
    <% end %> 
